* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #efe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background: steelblue;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2p 4px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2p 4px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateX(400%);
          transform: translateX(400%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.box:nth-of-type(even) {
  -webkit-transform: translateX(-400%);
          transform: translateX(-400%);
}

.box.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
